<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

<style>
    .body {
        background: #282726;
    }

    .container {
        margin-top: 5%;
        margin-bottom: 5%;
        background: #f05837;
        padding: 5% 5%;
    }

</style>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body class="body">
    <div class="container">
        <h2><b><u>USER DASHBOARD</u></b></h2>
        <br><br><br>

        <form action="/usr1" enctype="multipart/form-data" method="POST"></form>
            <div class="file-field">
                <a class="btn-floating blue-gradient mt-0 float-left">
                    <i class="far fa-heart" aria-hidden="true"></i>
                    <input type="file">
                </a>
            
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Upload your file">
                </div>
            </div>
        </form>
        <br><br><br>

        <form>
            <h3><b>Username :</b></h3>
            <br>
            <h4>{{name}}</h4>
            <br><br><br>
            <h3><b>Aadhar Number :</b></h3>
            <br>
            <h4>{{id}}</h4>
            <br><br><br>
            <h3><b>Uploaded Document Hash :</b></h3>
            <br>
            <h4>{{hash}}</h4>
            <br><br><br>
            <form>
                <div class="form-group">
                    <label for="prop_name">Property Name :</label>
                    <input type="text" class="form-control" id="prop_name" placeholder="Enter Property Name">
                </div>
                <div class="form-group">
                    <label for="prop_area">Property Area :</label>
                    <input type="text" class="form-control" id="prop_area" placeholder="Property Area">
                </div>
                <div class="form-group">
                    <label for="prop_location">Property Location :</label>
                    <input type="text" class="form-control" id="prop_location" placeholder="Property Location">
                </div>
            </form>
            <br>
            <button type="button" class="btn btn-success" onclick="send_data()">SUBMIT</button>
            &nbsp &nbsp &nbsp
            <button class="btn btn-danger" onclick="logout()">LOGOUT</button>
        
        </div>
    </form>
    
</body>


  <script>
    function send_data(){
      var prop_name = document.getElementById('prop_name').value;
      var prop_area = document.getElementById('prop_area').value;
      var prop_loc = document.getElementById('prop_location').value;
      $.post('/usr2',{name:prop_name,area:prop_area,loc:prop_loc},'json');
    }
  </script>
