<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<link rel='stylesheet' href='/stylesheets/dashboards.css' />
<h1>Vehicle Details</h1>

<a class="nav-link" id="home" href="/homePage">Home </a>

<br><br>
    <table id="vehicleDetails">
      <tr>
        <th>Vin Number</th>
        <th>Engine Number</th>
        <th>Model</th>
      </tr>
      <tr class="">
        <td>{{data}}</td>
 
      </tr>
    </table>