



<link rel='stylesheet' href='/stylesheets/dashboards.css' />
<h1>Land registration</h1>
<div class="form-modal">
 
 
   
 
    <div>
        <form action="/regstr" method="GET"> 
            
            
                        
                           
                            <th><td><button class="btn signup" id="registrar">Registrar dasboard</button></td></th>

                        
                       
                        <tr>
                            <td><input type="text" id="pvtkey" placeholder="enter your private key"></td></tr>
                         <tr><td> <button type="button"  class="btn signup" onclick= "writereg(event)" >Submit</button></td>
                        
                        </tr>

                    </form><hr>    
         
        <form action="/usr" method="GET"><table>                <tr>

                           <th><button  class="btn signup" id="user">User dashboard</button></th></tr> 
                            </tr><td><input type="text" id="usrpvtkey" placeholder="enter your private key"></td></tr>
                            <tr><td><input type="text" id="adhar" placeholder="enter your adhar number"></td></tr>
                            <tr><td><input type="text" id="name" placeholder="enter your name"></td></tr>
                            <tr><td><button type="submit"  class="btn signup" onclick= "writeusr(event)" > Submit</button>
                            <td><td>

                            </td>
                        </tr>    

                       
                    </table>
            
           
           
        </form>
    </div>
 
</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js">
</script>
<script src='/javascripts/main.js'></script>
 
 <script>
</script>