



<link rel='stylesheet' href='/stylesheets/dashboards.css' />
<h1>Land registration</h1>
<div class="form-modal">
 
    <div class="form-toggle">
        <button id="man-toggle" onclick="toggleMan()">Land registration login</button>
       
    </div>
 
   
 
    <div>
        <form action='/login' method='get'>
            <input id="textInput1" type="text" placeholder="Enter Username" />
            <table>
                        <tr>
                            <td><input id="textInput2" type="text" placeholder="Password"/></td>
                           
                        </tr>
                       
                       
                    </table>
            <button type="submit" class="btn signup">submit</button>
           
           
        </form>
    </div>
 
</div>
 
 
 
 
</script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src='/javascripts/main.js'></script>